@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  @keyframes flashGreen {
    0% { background-color: rgba(34, 197, 94, 0.3); }
    100% { background-color: transparent; }
  }
  
  @keyframes flashRed {
    0% { background-color: rgba(239, 68, 68, 0.3); }
    100% { background-color: transparent; }
  }
  
  .animate-flashGreen {
    animation: flashGreen 0.8s ease;
  }
  
  .animate-flashRed {
    animation: flashRed 0.8s ease;
  }
  